/* global attributes for whole page */
*{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin:0;
  padding:0
}

h3{
  margin-top: 30px;
}

.left-column{
  float: left;
  padding: 30px 0px 30px 30px;
  width: 430px;
}

.right-column{
  float: left;
  padding: 50px 0px 0px 50px;
  width: 50%;
  margin-bottom: 100px;
}

.title{
  font-size: 200%;
  font-weight: bold;
  text-align: left;
}

.logo{
  height: 80px;
  padding-right: 5px;
}


.header{
  font-size: 400%;
  font-weight: bold;
  text-align: left;
}

.sub-header{
  font-size: 150%;
  padding: 10px 0px;
}

.github-div{
  width: 80%;
  font-size: 150%;
  padding: 5px;
  text-decoration: none;
  background-color: #000;
  border-radius: 10px;
}

.github-link{
  color: fff;
  padding-left: 20px;
  text-decoration: none;
  outline: none;
}

.github-link:visited{
  color: #fff;
  outline: none;
}

.github-logo{
  float: left;
  padding: 10px;
}

.github-title{
  float: left;
  color: #fff;
}

.github-name{
  padding-left: 20px;
  font-size: 80%;
  vertical-align: middle;
  color: #fff;
}

.menu{
  font-size: 150%;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 70px;
}

.menu-list{
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}

.menu-item{
  margin: 2px 0;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.menu-link{
  display: block;
  padding-left: 10px;
  border-left: 8px solid #000;
  color: #000;
  text-decoration: none;
  width: 100%;
  font-size: 120%;
  outline: none;
  }

.menu-link:hover{
  border-left: 10px solid #000;
  background-color: #ddd;
  color: #000;
}

.menu-link:visited{
  color: #000;
}

.menu-item:hover{
  outline: none;
}

.menu_item:link{
  outline: none;
}

/* general styling */
p {
  font-size: 110%;
}

/* a:visited{
  color: #0000ff;
} */

.process-img{
  width: 100%;
  padding-right: 30px;
}

.process-des{
  font-size: 110%;
  padding: 10px;
}

.process-des th{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.process-des td{
  padding-bottom: 5px;
  padding-left: 15px;
}

.code{
  background-color: #eeeeee;
  padding: 10px;
}

.code_block{
  background-color: #eeeeee;
  padding: 10px;
  width: 50%;
}

.example{
  padding-top: 20px;
}

.sidepane{
  float: right;
  width: 40%;
}

.image-link{
  text-decoration: none;
  color: #000000;
}
.image-link:visited{
  color: #000000;
}
